//aqui esta el tamaño de todas las imagenes y la orden de su texto

.animal-info {
    display: flex;
    align-items: flex-start;

    .imagen-animal {
        width: 500px;
        height: 300px;
        margin: 30px;

    }

    .animal-texto {
        flex: 1;
    }

}