//aqui esta el tamaño de todas las imagenes y la orden de su texto

section {
    margin-bottom: 100px;

    .animal-info {
        display: flex;
        align-items: flex-start;
    }

    .imagen-animal {
        width: 500px;
        height: 300px;
        margin: 30px;

    }

    .animal-texto {
        flex: 1;
    }

    //problemas para modificar tamaño a "nombre cientifico", pendiente
}