//aqui esta el tamaño de todas las imagenes y la orden de su texto
@use "variables" as v;

section {
    margin-bottom: 100px;

    .animal-info {
        display: flex;
        align-items: flex-start;
    }

    .imagen-animal {
        width: 500px;
        height: 300px;
        margin: 30px;

    }

    .animal-texto {
        flex: 1;
    }

    //problemas para modificar tamaño a "nombre cientifico", pendiente
    @include v.mobile {
        margin-bottom: 30px;
        .animal-info {
            flex-direction: column;
            align-items: center;

            .imagen-animal {
                width: 80vw; // 80% del ancho de la ventana
                height: auto; // Mantiene la proporción de la imagen
                margin: 1vh 2vw; // Margen de 1% de la altura de la ventana y 2% del ancho
            }

            .animal-texto {
                margin: 10px 30px 0 30px;
            }
        }
    }
}