@use "variables" as v;

footer {

    h4 {
        font-family: v.$fuente-subtitulos;
        font-size: 180%
    }

    p {
        font-family: v.$fuente-subtitulos;
        font-size: 180%;
    }


    div {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: auto;
        padding: 20px;
    }

    ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    @include v.pantalla-standar {
        div {
            padding: 20px 80px;

            h4 {
                font-size: 130%;
            }

            p {
                font-size: 130%;
            }
        }
    }

    @include v.tablet {
        div {
            flex-direction: column;
            align-items: center;
            font-size: 70%;
        }

        ul {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
    }

    @include v.mobile {
        div {
            flex-direction: column;
            align-items: center;
            font-size: 50%;
        }

        ul {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }

}