// aqui va ir todo el codigo de css y sass de mi header  y su repsonsive 
@use "variables" as v;

header {
    h1 {
        text-align: center;
        font-size: 700%;
        color: v.$fuente-primaria;
        font-family: v.$fuente-titulos;
        margin: 20px;
    }
}

//responsive problemas de header
@include v.mobile {
    header h1 {
        font-size: 300%;
    }
    .navbar-brand img{
        width: 80px;
        height: auto;
    }

}

@include v.tablet {
    header h1 {
        font-size: 400%;
    }
    .navbar-brand img{
        width: 100px;
        height: auto;
    }
}