// aqui va ir todo el codigo de css y sass de mi header  y su repsonsive 
@use "variables" as v;

header {
    h1 {
        text-align: center;
        font-size: 700%;
        color: v.$fuente-primaria;
        font-family: v.$fuente-titulos;
        margin: 20px;
    }

    .nav-horizontal {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }


    //responsive problemas de header

    @include v.pantalla-standar {
        h1 {
            font-size: 600%;
        }

        .nav-horizontal {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px 40px;
            max-width: 600px;
            margin: 0 auto;
        }
    }

    @include v.tablet {
        h1 {
            font-size: 400%;
        }

        .navbar-brand img {
            width: 100px;
            height: auto;
        }
    }

    @include v.mobile {
        h1 {
            font-size: 300%;
        }

        .navbar-brand img {
            width: 80px;
            height: auto;
        }

    }
}