// pagina principal
@use "variables" as v;

main {
    h2 {
        font-family: v.$fuente-subtitulos;
        text-align: center;
        margin: 20px;
        font-size: 400%;
    }

    img {
        width: 450px;
        height: 550px;
    }

    img:hover {
        transform: scale(0.85);
        transition: transform 1s ease;
    }

    //     img {
    //         width: 450px;
    //         height: 550px;
    //        @include v.hover-transform(v.$normal-width, v.$normal-height, v.$hover-width, v.$hover-height); // Llama al mixin con las variables
    // height: auto;  // Mantiene la proporción de la imagen
    // margin: 0 auto; // Centra la imagen en su contenedor
    //     }

    .presentacion {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        margin: 30px;

    }

    h3 {
        font-family: v.$fuente-subtitulos;
        text-align: center;
        margin: 20px;
    }

    form {
        margin-left: 80px;
        margin-right: 80px;

        div {
            margin: 10px;

            label {
                font-family: v.$fuente-subtitulos;
                font-size: 150%;
                margin-bottom: 10px;
            }
        }

        button {
            margin: 10px;
        }
    }

    @include v.mobile {
        h2 {
            text-align: center;
            margin: 20px;
            font-size: 250%;
        }

        .presentacion {
            grid-template-columns: 1fr;
        }

        img {
            width: 80vw;
            /* 80% del ancho de la ventana */
            height: auto;
            /* Mantiene la proporción de la imagen */
            margin: 1vh 2vw;
            /* Margen de 1% de la altura de la ventana y 2% del ancho */
        }
    }
}

