// pagina principal
@use "variables" as v;

main {
    h2 {
        font-family: v.$fuente-subtitulos;
        text-align: center;
        margin: 20px;
        font-size: 400%;
    }

    img {
        width: 450px;
        height: 550px;
    }

    .presentacion {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        margin: 30px;
    }

    h3 {
        font-family: v.$fuente-subtitulos;
        text-align: center;
        margin: 20px;
    }

    form {
        margin-left: 80px;
        margin-right: 80px;

        div {
            margin: 10px;

            label {
                font-family: v.$fuente-subtitulos;
                font-size: 150%;
                margin-bottom: 10px;
            }
        }

        button {
            margin: 10px;
        }
    }
}