@use "variables" as v;

.grid-votacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    
    // CORRECCIÓN DE MARGEN: 
    // Usamos 'auto' a los lados y un ancho máximo para que no se estire infinito
    width: 90%; 
    max-width: 800px;
    margin: 40px auto; 
    // justify-items: stretch;
    align-items: center;

    // 2. EL CONTENEDOR (LABEL)
    label {
        cursor: pointer;
        position: relative;
        width: 100%;

        // Hover accion de cambiar el cursor al pasar sobre la tarjeta
        &:hover figcaption {
            background-color: v.$color-hover; // Color gris claro
        }
    }

    // 3. LA TARJETA (FIGURE)
    figure {
        margin: 0;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        height: 100%; 
        box-shadow: 0 4px 6px rgba(0,0,0,0.1); // Sombra suave

        // Flexbox para ordenar foto y texto
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            // order: 1; 
            display: block; 
        }

        figcaption {
            // order: 2; 
            background-color: steelblue; // Color por defecto
            color: white; 
            padding: 15px;
            text-align: center;
            font-weight: bold;
            transition: all 0.3s ease;
            border-top: 1px solid rgba(255,255,255,0.1);
        }
    }

    // 4. LÓGICA DE SELECCIÓN
    .input-oculto {
        display: none; 

        &:checked {
            + figure {
                // EFECTO SELECCIONADO
                box-shadow: 0 0 0 4px v.$color-verde; // el color del borde al momento de ser seleccionado
                transform: scale(1.02); 
                z-index: 10; // Para que quede encima si se agranda

                figcaption {
                    background-color: v.$color-verde; // el color al momento de ser seleccionado
                    
                    &::after {
                        content: " ✔";
                        font-weight: bold;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}