@use "variables" as v;

.grid-votacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin: 40px 80px;
    justify-items: center; // Centra los elementos en sus celdas
    align-items: center;
}

.imagen-votacion {
    width: 500px;
    height: auto;
}