@use "variables" as v;

.grid-peces-record {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin: 40px;;
    justify-items: center;
    align-items: start;


    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    figcaption {
        text-align: center;
        font-family: v.$fuente-subtitulos;
        font-size: 1.3em;
        margin-top: 10px;
    }

    @include v.pantalla-standar {
    figcaption {
        font-size: 1.2em;
    }
}

@include v.mobile {
    grid-template-columns: 1fr;
    margin: 20px;
    gap: 10px;

    figcaption {
        font-size: 1em;
    }
}
}

