//espacio para fuentes futuras
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&family=Pangolin&display=swap');

$fuente-titulos: "Pangolin", cursive;
$fuente-subtitulos: "Oldenburg", serif;
$background: black;
$fuente-primaria: white;

* {
	color: $fuente-primaria;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $background;
}


// $normal-width: 450px; // Ancho normal de la imagen
// $normal-height: 550px; // Altura normal de la imagen
// $hover-width: 315px;   // Ancho al pasar el mouse (70% de 450px)
// $hover-height: 385px;  // Altura al pasar el mouse (70% de 550px)

// @mixin hover-transform($normal-width, $normal-height, $hover-width, $hover-height) {
// transition: transform 5s ease, width 5s ease, height 5s ease; // Transición suave
// width: $normal-width; // Establece el ancho normal
// height: $normal-height; // Establece la altura normal

// &:hover {
// transform: scale(0.85) translate(-7.5%, -7.5%); // Escala y traslada para centrar
// width: $hover-width; // Establece el nuevo ancho
// height: $hover-height; // Establece la nueva altura
// }
// }

//mixin mobile 

@mixin mobile {
	@media (min-width: 320px) and (max-width: 430px) {
		@content;
	}
}

// objetivo lograr que el logo quede visible en la nav-bar, para dispositivos moviles, y que no se tenga que abrir la barra menu

@mixin tablet {
	@media (min-width: 431px) and (max-width: 768px) {
		@content;
	}
}