//espacio para fuentes futuras
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&family=Pangolin&display=swap');

$fuente-titulos: "Pangolin", cursive;
$fuente-subtitulos: "Oldenburg", serif; 
$background: black;
$fuente-primaria: white;

*{
	Color: $fuente-primaria;
	Margin: 0;
	Padding: 0;
	Box-sizing: border-box;
    
}

//futuros extend y mixins

