//espacio para fuentes futuras
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&family=Pangolin&display=swap');

$fuente-titulos: "Pangolin", cursive;
$fuente-subtitulos: "Oldenburg", serif;
$background: black;
$fuente-primaria: white;

* {
	color: $fuente-primaria;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $background;
}

//mixin mobile 

@mixin mobile {
	@media (min-width: 320px) and (max-width: 430px) {
		@content;
	}
}

//futuros extend y mixins