/*reset de estilos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*fin de reset*/

.contenedor-body {
    background-color: black;
}


/* boton pendiente por agregar
.boton-volver {
    width: 120px;
    height: 120px;
} */


h1 {
    color: white;
    font-size: 500%;
    text-align: center;
}


main section a img {
    width: 450px;
    height: 550px;
}

h2 {
    color: white;
    font-size: 500%;
    text-align: center;
}


.presentacion  { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}

h3 {
    font-size: 35px;
    margin: 15px;
}


.animal-info {
    display: flex;
    align-items: flex-start;
}

.imagen-animal {
    width: 500px;
    height: 300px;
    margin: 30px;
}

.animal-texto {
    flex: 1;
}

h4 {
    font-size: 20px;
}

p {
    color: white;
    font-size: 20px;
    margin: 30px;
}


footer ul li {
    font-size: 30px;
    display: inline-block;
    margin: 50px;
}

footer ul li a {
    color: darkslateblue;
}

h4 {
    color: white;
    font-size: 25px;
    text-align: center;
}

/* pendiente correccion de margen inferior. */


@media (min-width: 320px) and (max-width: 480px) {

h1  {
font-size: 150%; /* Incrementa la reducción del tamaño del título */
}

h2 {
font-size: 150%; /* Ajusta aún más el tamaño de los subtítulos */
}

.presentacion {
grid-template-columns: 1fr; /* Una columna para pantallas pequeñas */
grid-template-rows: auto;
}

h3 {
font-size: 28px; /* Ajusta el tamaño de los encabezados h3 */
}

}