/*reset de estilos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*fin de reset*/

.contenedor-body {
    background-color: black;
}


.titulo {
    align-self: center;
    justify-items: flex-start;
}


.boton-volver {
    width: 120px;
    height: 120px;
}


h1 {
    grid-column: 2 / 3;
    color: white;
    font-size: 500%;

}


main {
    color: white;
}

main section a img {
    width: 450px;
    height: 550px;
}

h3 {
    font-size: 35px;
    margin: 15px;
}

main section a {
    display: inline-block;
    margin: 15px;
}


.pregunta-inicio {
    font-size: 100px;
    text-align: center;
}



.animal-info {
    display: flex;
    align-items: flex-start;
}

.imagen-animal {
    width: 500px;
    height: 300px;
    margin: 30px;
}

.animal-texto {
    flex: 1;
}

h4 {
    font-size: 20px;
}

p {
    color: white;
    font-size: 20px;
    margin: 30px;
}

footer ul li {
    font-size: 30px;
    display: inline-block;
    margin: 50px;
}

footer ul li a {
    color: darkslateblue;
}

h5 {
    color: white;
    font-size: 25px;
    text-align: center;
}